<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="{{base_url}}public/imagenes/fondosidenav.jfif" width="400">
            </div>
            <a href="#user"><img class="circle" src="{{base_url}}public/imagenes/avatar/default_avatar.png"></a>
            <a href="#name"><span class="white-text name">{{data_sesion.nombre_user}}</span></a>
            <a href="#email"><span class="white-text email">{{data_sesion.email_user}}</span></a>
        </div>
    </li>
    <li>
        <a class="subheader">Configuración</a>
    </li>
    <li>
        <a href="#!" onclick="abrirEditarUsuario({{data_sesion.id_usuario}})"><i class="material-icons">person</i>Perfil</a>
    </li>
    {% if perfil_id == 1 %}
        <li>
            <a class="nav-link text-white modal-trigger" href="#modal_usuario"><i class="material-icons">people</i>Usuarios</a>
        </li>
        <li>
            <a class="nav-link text-white modal-trigger" href="#modal_liquidacion_guias"><i class="material-icons">attach_money</i>Liquidacion de guias</a>
        </li>
    {% endif %}
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <a href="#!" onclick="cerrarSesion()"><i class="material-icons opacity-10">login</i>Cerrar Sesión</a>
    </li>
</ul>
