<center>
    <div style="">
        <p style="font-size:45px " class="blue-text">Hola!</p>
        <b><p style="font-size:40px;" class=" blue-text">{{data_sesion.nombre_user}}</p></b>
        <p style="font-size:30px;" class="blue-text">Selecciona tu Empresa</p>
    </div>
</center>
<div class="row" style="width:90%;">
    {% if lista_empresa %}
        {% for empresa in lista_empresa %}
            <div class="col s12 m4">
                <div class="card horizontal hoverable" style="cursor:pointer;" onclick="cambiarEmpresa({{empresa.id_empresa}})">
                    <div class="card-stacked" >
                        <div class="card-content" id="card_contenido" style="">
                            <div class="row z-depth-2" id="head_card" style="">
                                <h6 id="nombre_empresa_" style="" class="determinate"><b>{{empresa.nombre_empresa}}</b></h6>
                                <div class="contenedor_progreso" style="">
                                        <p class="progreso_text" style=""> Progreso</p>
                                    <div id="barra_progreso"class="progress tooltipped #ffccbc deep-orange lighten-4" data-tooltip="{{empresa.porcentaje_config}}%">
                                        <div class="determinate orange" style=" width:{{empresa.porcentaje_config}}%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-top:8px;">
                                <div class="col s6 m6">                            
                                    <p class="p-card-empresa">
                                        #{{empresa.documento_empresa}}
                                    </p>
                                    <p class="p-card-empresa">
                                        {{empresa.fecha_creacion}}
                                    </p>                                    
                                    <p class="p-card-empresa">
                                        {{empresa.municipio}}
                                    </p>
                                </div>
                                <div class="col s6 m6">
                                    <div class="card-image" style="width:100px; float:right;">
                                        <img src="{{base_url}}public/imagenes/empresa/logo/{{empresa.logo}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% include 'modal_primera_empresa.twig' %}

<script>

document.body.addEventListener("keypress", function(event) {
	if (event.code === 27) {
		location.href = "{{base_url}}";
	}
});

</script>