<div id="modalCambioEmpresa" class="modal modal-esc" style="width:30%; height:70%;">
    <div class="modal-content">
        <div class="row">
            <div class="col">
                <i class="medium material-icons">business</i>
             </div>
            <div class="col">
                <center><h5>Empresas</h5></center>
            </div>
        </div>
        <p class="text-intro">¡Hola, {{name_user}}¡ para continuar debes de seleccionar una empresa de trabajo.</p>
        <br>
        <div class="input-field col s12 m6">
            <select class="icons" onchange="cambiarEmpresa(this.value);">
                <option value="" disabled selected>- Selecciona una emprea -</option>
                {% for empresa in lista_empresa %}
                    <option value="{{empresa.id_empresa}}" data-icon="{{base_url}}public/imagenes/empresa/logo/{{empresa.logo}}">{{empresa.nombre_empresa}}</option>
                {% endfor %}
            </select>
            <label>Seleccione una empresa</label>
        </div>
    </div>
</div>



