<div id="modal_modificar_empresa" class="modal modal-esc modal-fixed-footer" style="height:87%;">
    <center>
        <img class="loader-modulo-modal" src="https://softwaregenera.com/genera/public/imagenes/loader_modulo.gif">
    <center>
    <form  method="POST" action="" name="fmrEditarEmpresa" id="fmrEditarEmpresa" enctype="multipart/form-data">
        <div class="modal-content hide">
            <div class="row">            
                <div class="col s12 m12">
                    <ul class="tabs" style="background-color: transparent;">
                        <li class="tab col s3 m4"><a href="#infoempresa">Informacion Empresa</a></li>
                        <li class="tab col s3 m4"><a href="#configempresa">Configuracion Empresa</a></li>
                        <li class="tab col s3 m4"><a href="#infocontacto">Informacon Contacto</a></li>
                    </ul>
                </div>
                <!-- INFORMASCION DE LA EMPRESA --> 
                <div id="infoempresa" class="col s12 m12">
                    <div class="row pt-10">        
                        <div class="input-field col m4 s12">
                            <i class="material-icons prefix">tag</i>
                            <input id="documento_empresa_edit" name="documento_empresa_edit" type="text" class="validate">
                            <label for="documento_empresa_edit">Nit o Cedula</label>
                        </div>
                        <div class="input-field col m2">
                            <i class="material-icons prefix">-</i>
                            <input id="digito_verificacion_edit" name="digito_verificacion_edit" type="text" maxlength="1">
                            <label for="digito_verificacion_edit">Digito</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <i class="material-icons prefix">business</i>
                            <input id="nombre_edit" name="nombre_edit" type="text" class="validate">
                            <label for="nombre_edit">Nombre</label>
                        </div>
                    </div>
                    <div class="row pt-10">
                        <div class="input-field col m6 s12">
                            <i class="material-icons prefix"></i>
                            <select name="naturaleza_edit" id="naturaleza_edit">
                                <option value="PJ" selected>Persona Juridica</option>
                                <option value="PN">Persona Natural</option>
                            </select>
                            <label>Naturaleza</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <i class="material-icons prefix"></i>
                            <select name="sector_comercial_id_edit" id="sector_comercial_id_edit">
                                {% if sector_comercial %}
                                    {% for sectores in sector_comercial %}
                                        <option value="{{sectores.id_sector_comercial}}">{{sectores.sector_comercial}}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                            <label>Sector Comercial</label>
                        </div>
                    </div>
                    <div class="row pt-10">
                        <div class="input-field col m6 s12">
                            <i class="material-icons prefix">face</i>
                            <input id="representante_legal_edit" name="representante_legal_edit" type="text" class="validate">
                            <label for="representante_legal_edit">Representante Legal</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <i class="material-icons prefix"></i>
                            <select name="estado_edit" id="estado_edit">
                                {% if estado %}
                                    {% for estados in estado %}
                                        <option value="{{estados.id_estado}}">{{estados.estado}}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                            <label>Estado</label>
                        </div>
                    </div> 
                </div>

                <!-- CONFIGURACION EMPRESA --> 
                <div id="configempresa" class="col s12 m12">
                    <div class="row pt-12">
                        <div class="col s12 m6">
                            <center>
                            <br>
                            <img id="img_logo_edit" class="materialboxed" width="200" src="">
                            </center>
                        </div>
                        <div class="col s12 m6">
                            <div class="row">
                                <br>
                                <div class="input-field col m12 s12">
                                    <i class="material-icons prefix"></i>
                                    <select name="periodo_pago_edit" id="periodo_pago_edit">
                                        <option value="quincenal">quincenal</option>
                                        <option value="mensual">mensual</option>
                                        <option value="semanal">semanal</option>
                                    </select>
                                    <label>Periodo de Pago</label>
                                </div>
                            </div>
                            <div class="row">
                                <br>
                                <div class="input-field col m12 s12">                                   
                                    <select name="periodo_nomina_inicial" id="periodo_nomina_inicial">
                                        <option value="">-seleccione-</option>
                                        {% if periodo_nomina_ini %}                        
                                            {% for periodo in periodo_nomina_ini %}
                                                <option value="{{periodo.value}}">{{periodo.display}}</option>
                                            {% endfor %}   
                                        {% endif %}
                                    </select>
                                    <label>¿ Desde  Que Periodo Desea iniciar</label>
                                </div>
                            </div>  
                            <div class="row"> 
                                <br>               
                                <div class="input-field col m12 s12">
                                    <i class="material-icons prefix"></i>
                                    <select name="centros_costo_edit" id="centros_costo_edit">
                                        <option value="no">NO</option>
                                        <option value="si">SI</option>
                                    </select>
                                    <label>¿Maneja Centro de Costos?</label>
                                </div>  
                            </div>
                            <div class="row">
                                <br>              
                                <div class="file-field input-field col m12 s12">
                                    <div class="btn green">
                                        <span><i class="large material-icons">cloud_upload</i></span>
                                        <input type="file" name="file" id="file" onChange="cargarLogoEmpresa(this)">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="Seleccione un logo para la empresa">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- INFORMACION CONTACTO -->
                <div id="infocontacto" class="col s12 m12">
                    <div class="row pt-10">        
                        <div class="input-field col m6">
                            <i class="material-icons prefix">contact_phone</i>
                            <input id="telefono_edit" name="telefono_edit" type="number" maxlength="10" class="validate">
                            <label for="telefono_edit">Telefono</label>
                        </div>
                        <div class="input-field col m6">
                            <i class="material-icons prefix">contact_mail</i>
                            <input id="email_edit" name="email_edit" type="text" class="validate">
                            <label for="email_edit">Email</label>
                        </div> 
                    </div>
                    <div class="row pt-10">
                        <div class="input-field col m6">
                            <i class="material-icons prefix"></i>
                            <select name="deptartamento_edit" id="deptartamento_edit" onchange="cargarSelect(this.value,'municipio','id_municipio','nombre','cargar-municipio');">
                                <option value="" selected disabled>- Seleccione un departamento -</option>  
                                {% if departamentos %}                        
                                    {% for departamento in departamentos %}
                                        <option value="{{departamento.id_departamento}}">{{departamento.nombre}}</option>
                                    {% endfor %}   
                                {% endif %}                       
                            </select>                            
                            <label>Deparatamento</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <i class="material-icons prefix"></i>
                            <select name="municipio_edit" id="municipio_edit" class="cargar-municipio">
                                <option>- Seleccione un municipio -</option>                              
                            </select>
                            <label>Municipios</label>
                        </div>
                    </div>
                    <div class="row pt-10">
                        <div class="input-field col m12">
                            <i class="material-icons prefix">home</i>
                            <input id="direccion_edit" name="direccion_edit" type="text" maxlength="100" class="validate">
                            <label for="direccion_edit">Direccion</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">  
            <input type="hidden" name="id_empresa_edit" id="id_empresa_edit" value="" />
            <button class="modal-close btn-flat" type="reset" >CANCELAR</button>
            <button class="btn waves-effect waves-light green" type="button" onclick="editarEmpresa();">guardar</button>
        </div>
    </form>
</div>
