<style>
    #modal_editar_pedido{
        height : 90%;
        border-radius:10px; 
        width:60%;
    }

    #content-modal{
        padding : 5px;
    }

    .div-form{
        padding : 10px;
        margin: 10px;
    }
</style>

<div id="modal_editar_pedido" class="modal modal-fixed-footer">
    <form  method="post" action="" name="fmreditarpedido" id="fmreditarpedido" onsubmit="guardarEditarPedido(this); return false;">
        <div class="modal-content" id="content-modal">          
            <div class="encabezado-modal center-align">
                <h4>Edicion de pedidos</h4>
            </div>

            <div class="row div-form z-depth-1 paso1 ">
                <div class="col m6">
                    <h5 class="grey-text">Datos de quien envia</h5> 
                    <div class="input-field col m12">
                        <input id="nombre_remitente_edit" type="text" class="validate" value="{{data_sesion.nombre_user}}" disabled>
                        <label for="nombre_remitente_edit">Nombre Completo</label>
                    </div>
                    <div class="input-field col m6">
                        <select name="departamento_remitente_edit" id="departamento_remitente_edit">
                            <option value="{{data_sesion.id_departamento}}" selected>{{data_sesion.departamento}}</option>
                        </select>
                        <label>Departamentos</label>
                    </div>
                    <div class="input-field col m6">
                        <select name="municipio_remitente_edit" id="municipio_remitente_edit">
                            <option value="{{data_sesion.codigo_transportadora}}" selected disabled>{{data_sesion.municipio}}</option>
                        </select>
                        <label>Municipio</label>
                    </div>
                    <div class="input-field col m12">
                        <input id="direccion_remitente_edit" type="text" class="validate" disabled value="{{data_sesion.direccion}}">
                        <label for="direccion_remitente_edit">Direccion</label>
                    </div>
                    <div class="input-field col m12">
                        <input id="telefono_remitente_edit" type="text" class="validate" disabled value="{{data_sesion.celular}}">
                        <label for="telefono_remitente_edit">Telefono</label>
                    </div>
                </div>

                <div class="col m6">
                    <h5 class="grey-text">Datos de quien recibe</h5> 
                    <div class="input-field col m12">
                        <input id="nombre_destinatario_edit" name="nombre_destinatario_edit" type="text" class="validate" disabled>
                        <label for="nombre_destinatario_edit">Nombre Completo</label>
                    </div>
                    <div class="input-field col m6">
                        <select name="departamento_destinatario_edit" id="departamento_destinatario_edit" onchange="municipiosDepartamento(this.value,'municipio_destinatario_edit')" disabled>
                            <option selected disabled>- Seleccione -</option>
                            {% if departamentos %}                   
                                {% for departamento in departamentos %}
                                    <option value="{{departamento.codigo}}">{{departamento.nombre}}</option>
                                {% endfor %}   
                            {% endif %}
                        </select>
                        <label>Departamentos</label>
                    </div>
                    <div class="input-field col m6">
                        <select name="municipio_destinatario_edit" id="municipio_destinatario_edit" onchange="consultaCobertura(this.value)" disabled>
                            <option value="" disabled selected>- Municipios -</option>
                        </select>
                        <label>Municipio</label>
                    </div>
                    <div class="input-field col m12">
                        <input id="direccion_destinatario_edit" name="direccion_destinatario_edit" type="text" class="validate" disabled>
                        <label for="direccion_destinatario_edit">Direccion</label>
                    </div>
                    <div class="input-field col m12">
                        <input id="telefono_destinatario_edit" name="telefono_destinatario_edit" type="text" class="validate" disabled>
                        <label for="telefono_destinatario_edit">Telefono</label>
                    </div>
                </div>
            </div>

            <div class="row div-form z-depth-1 paso2 hide">
                <div class="col m12">
                    <h5 class="grey-text">Información del envío:</h5> 
                    <div class="input-field col m9">
                        <input id="contenido_edit" name="contenido_edit" type="text" class="validate" disabled>
                        <label for="contenido_edit">Contenido</label>
                    </div>
                    <div class="input-field col m3">
                        <input id="valor_declarado_edit" name="valor_declarado_edit" type="number" class="validate" disabled>
                        <label for="valor_declarado_edit">Valor Declarado</label>
                    </div>
                </div>
                <div class="col m12">
                    <h5 class="grey-text">Dimensión del empaque:</h5> 
                    <div class="input-field col m2">
                        <input id="alto_edit" name="alto_edit" type="number" class="validate" disabled>
                        <label for="alto_edit">Alto</label>
                    </div>
                    <div class="input-field col m2">
                        <input id="ancho_edit" name="ancho_edit" type="number" class="validate" disabled>
                        <label for="ancho_edit">Ancho</label>
                    </div>
                    <div class="input-field col m2">
                        <input id="largo_edit" name="largo_edit" type="number" class="validate" disabled>
                        <label for="largo_edit">Largo</label>
                    </div>
                    <div class="input-field col m2">
                        <input id="peso_edit" name="peso_edit" type="number" class="validate" disabled>
                        <label for="peso_edit">Peso</label>
                    </div>
                </div>
                <div class="col m12">
                    <div class="input-field col m5">
                        <select name="transportadora_edit" id="transportadora_edit" class="browser-default" disabled >
                            <option value="0" disabled>- <b>transportadoras Disponibles</b> -</option>
                            <option value="1" disabled>Coordinadora</option>
                            <option value="2" disabled>Servientrega</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal-footer">
            <input name="id_pedido_edit" id="id_pedido_edit" value="" type="hidden"  />
            <input name="codigo_remision_edit" id="codigo_remision_edit" value="" type="hidden"  />
            <div class="center-align">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">CANCELAR</a>
            <button class="waves-effect waves-light btn blue hide btn-atras" type="button" onclick="cambioPasoNuevoPedido('1','_edit')">
                <i class="material-icons left">arrow_back</i>Atras
            </button>
            <button class="waves-effect waves-light btn blue btn-siguiente" type="button" onclick="cambioPasoNuevoPedido('2','_edit')" disabled>
                <i class="material-icons right">arrow_forward</i>Siguiente
            </button>
            <!--<button class="waves-effect waves-light btn green hide btn-guardar-pedido" type="button" onclick="guardarEditarPedido()" >EDITAR PEDIDO</button>-->
            <button class="waves-effect waves-light btn red btn-anular-pedido" type="button" onclick="anularGuia()" >ANULAR PEDIDO</button>
            </div>
        </div>
    </form>
</div>
<input type="hidden" id="data-cobertura">