<div id="modal_gestion_empleado" class="modal modal-esc modal-fixed-footer modal-grande"  style="width :75%; height: 580px;">
    <div class="modal-content">
        <div class="row">
            <div class="col s12 m12">
                <ul class="tabs" style="background-color: transparent;">
                    <li class="tab col s6 m6" ><a onclick="$('.btn-editar').removeClass('hide')"  href="#infoempledados">Datos del Empleado</a></li>
                    <li class="tab col s6 m6"><a onclick="$('.btn-editar').addClass('hide')" href="#infocontratos">Información de Contratos</a></li>
                </ul>
            </div>
            
            <!--FORMULARIO EDITAR EMPLEADO -->
            <div id="infoempledados" class="col m12">
                <form  method="POST" action="" name="fmreditarempleado" id="fmreditarempleado" enctype="multipart/form-data">
                    <div class="row">            
                        <div id="infopersonal" class="col s12 m12">
                            <h6 class="grey-text">Informacion Personal</h6>
                            <input name="ee_id_empleado" id="ee_id_empleado" type="hidden" />
                            <div class="row pt-12">
                                <div class="input-field col s12 m3">
                                    <select name="ee_tipo_documento" id="ee_tipo_documento">
                                    {% if tipos_documento %}
                                        {% for tipo in tipos_documento %}
                                            <option value="{{tipo.id_tipo_documento_identidad }}">{{tipo.tipo_documento}}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                                <label>Tipo de Documento</label>                                
                                </div>
                                <div class="input-field col s12 m3">
                                    <input placeholder="" id="ee_numero_documento" name="ee_numero_documento" type="text" onchange="validarEmpleadoExiste()">
                                    <label for="ee_numero_documento"># Documento</label>                                
                                </div>
                                <div class="input-field col s12 m3">
                                    <input placeholder="" id="ee_expedicion_documento" name="ee_expedicion_documento" type="text">                               
                                    <label for="ee_expedicion_documento">Lugar de Expedición</label>
                                </div>
                                <div class="input-field col s12 m3">
                                    <input placeholder="" id="ee_lugar_nacimiento" name="ee_lugar_nacimiento" type="text">                                
                                    <label for="ee_lugar_nacimiento">Lugar de Nacimiento</label>
                                </div>
                            </div>
                            <div class="row pt-10">
                                <div class="input-field col s12 m3">
                                    <input placeholder="" id="ee_primer_nombre" name="ee_primer_nombre" type="text">
                                    <label for="ee_primer_nombre">Primer Nombre</label>                             
                                </div>
                                <div class="input-field col s12 m3">
                                    <input placeholder="" id="ee_segundo_nombre" name="ee_segundo_nombre" type="text">
                                    <label for="ee_segundo_nombre">Segundo Nombre</label>                                 
                                </div>
                                <div class="input-field col s12 m3">
                                    <input placeholder="" id="ee_primer_apellido" name="ee_primer_apellido" type="text"> 
                                    <label for="ee_primer_apellido">Primer Apellido</label>                                
                                </div>
                                <div class="input-field col s12 m3">
                                    <input placeholder="" id="ee_segundo_apellido" name="ee_segundo_apellido" type="text">
                                    <label for="ee_segundo_apellido">Segundo Apellido</label> 
                                </div>
                            </div>
                            <div class="row pt-10">
                                <div class="input-field col s12 m3">
                                    <input  id="ee_fecha_nacimiento" name="ee_fecha_nacimiento" type="date" >  
                                    <label for="ee_fecha_nacimiento">Fecha Nacimiento</label>                              
                                </div>
                                <div class="input-field col s12 m3">
                                    <select name="ee_estado_civil" id="ee_estado_civil">
                                        <option value="Soltero(a)" selected>Soltero(a)</option>
                                        <option value="Casado(a)">Casado(a)</option>
                                        <option value="Union Libre">Union Libre</option>
                                    </select>
                                    <label>Estado Civil</label>                                
                                </div>
                                <div class="input-field col s12 m3">
                                    <select name="ee_sexo" id="ee_sexo">
                                        <option value="Masculino" selected>Masculino</option>
                                        <option value="Femenino">Femenino</option>
                                        <option value="Otro">Otro</option>
                                    </select>
                                    <label>Genero</label>                                
                                </div>
                                <div class="file-field input-field col s12 m3">
                                    <div class="btn">
                                        <span>File</span>
                                        <input type="file" name="ee_foto_empleado" id="ee_foto_empleado" onchange="validar_file(this,2097152,'Archivo demasiado grande. El peso del archivo debe ser menor a 2MB.','ee_foto_empleado')">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" placeholder="Foto" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- DATOS EMPLEADO -->
                        <div id="datosempleado" class="col s12 m12">
                            <h6 class="grey-text">Datos del Empleado</h6>
                            <div class="row pt-12">
                                <br>
                                <div class="input-field col m3 s12  hide">
                                    <select name="ee_deptartamento" id="ee_deptartamento" onchange="cargarSelect(this.value,'municipio','id_municipio','nombre','cargar-municipio-edit');">
                                        <option value="" >- Departamentos -</option>  
                                        {% if departamentos %}                        
                                            {% for departamento in departamentos %}
                                                <option value="{{departamento.id_departamento}}">{{departamento.nombre}}</option>
                                            {% endfor %}   
                                        {% endif %}                       
                                    </select>                            
                                    <label>Deparatamento</label>
                                </div>
                                <div class="input-field col m3 s12">                                
                                    <select name="ee_municipio_id" id="ee_municipio_id" class="cargar-municipio-edit">
                                                                
                                    </select>
                                    <label>Municipios</label>
                                </div>                      
                                <div class="input-field col s12 m3">
                                    <input placeholder="Cr xx calle xx-yy" id="ee_direccion" name="ee_direccion" type="text" >
                                    <label for="ee_direccion">Dirección</label>                                
                                </div>
                                <div class="input-field col s12 m3">
                                    <input placeholder="" id="ee_telefono" name="ee_telefono" type="text" >                                
                                    <label for="ee_telefono">Teléfono</label>
                                </div>
                                <div class="input-field col s12 m3">
                                    <input  id="ee_email" name="ee_email" type="text"  placeholder="">  
                                    <label for="ee_email">Email</label>                              
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="input-field col s12 m2">
                                    <select name="ee_libreta_militar" id="ee_libreta_militar" onchange="mostrarCampoLibreta(this.value)">
                                        <option value="No aplica" selected>No aplica</option>
                                        <option value="No">No</option>
                                        <option value="Si">Si</option>
                                    </select>
                                    <label>¿Libreta Militar?</label>                                
                                </div>
                                <div class="input-field col s12 m1 clase_libreta" hidden>
                                    <select name="ee_clase_libreta" id="ee_clase_libreta">
                                        <option value="1RA">1RA</option>
                                        <option value="2DA">2DA</option>
                                    </select>    
                                    <label>Clase Libreta</label>           
                                </div>
                                <div class="input-field col s12 m2">
                                    <select name="ee_licencia_conduccion" id="ee_licencia_conduccion"  onchange="mostrarCampoTipoLicencia(this.value)">                                
                                        <option value="No">No</option>
                                        <option value="Si">Si</option>
                                    </select>
                                    <label>¿Licencia Conducción?</label>                                
                                </div>
                                <div class="input-field col s12 m1 tipo_licencia"  hidden>  
                                    <select class="browser-default" name="ee_tipo_licencia" id="ee_tipo_licencia">
                                        <option value="A1">A1</option>
                                        <option value="A2">A2</option>
                                        <option value="B1">B1</option>
                                        <option value="B2">B2</option>
                                        <option value="B3">B3</option>
                                        <option value="C1">C1</option>
                                        <option value="C2">C2</option>
                                        <option value="C3">C3</option>
                                    </select>                          
                                </div>                                
                                <div class="input-field col m3 s12">                        
                                    <select name="ee_profesion" id="ee_profesion"  class="">
                                        <option selected disabled>- Seleccione una profesión -</option>  
                                        {% if profesiones %}                        
                                            {% for profesion in profesiones %}
                                                <option value="{{profesion.id_profesion }}">{{profesion.descripcion}}</option>
                                            {% endfor %}   
                                        {% endif %}                       
                                    </select>
                                    <label for="ee_profesion">Profesion</label>                       
                                </div>                                
                                <div class="input-field col s12 m3">
                                    <input  id="ee_tarjeta_profesional" name="ee_tarjeta_profesional" type="text"  placeholder="">  
                                    <label for="ee_tarjeta_profesional"># Tarjeta Profesional</label>                              
                                </div>
                            </div>
                            <br>
                        </div>
                        <!-- GRUPO FAMILIAR -->
                        <div id="gtupofamiliar" class="col s12 m12">
                            <h6 class="grey-text">Grupo Familiar</h6>
                            <table class="responsive-table">
                                <thead>
                                    <tr>
                                        <th style="width : 10%">
                                            <a class="btn-floating waves-effect waves-light btn-small green" onclick="agregarItemGrupoFamiliar()"><i class="material-icons left">add</i></a>
                                        </th>
                                        <th style="width : 25%">Nombre</th>
                                        <th style="width : 25%">parentesco</th>
                                        <th style="width : 20%">Fecha<br>Nacimiento</th>
                                        <th style="width : 20%">Telefono</th>
                                    </tr>
                                </thead>
                                <tbody class="lista_grupo_familiar">
                                </tbody>
                            </table>
                            <input id="contador_item" id="contador_item" type="hidden" value="0" />
                        </div>
                    </div>
                </form>
            </div>
            <!--FIN FORMULARIO EDITAR EMPLEADO -->

            <!--LISTADO DE CONTRATOS -->
            <div id="infocontratos" class="col m12">
                <table class="highlight">
                    <br>
                    <caption>
                        <div class="row">                            
                            <div class="col s12 m8 offset-m2 center-align">
                                <h6 class="grey-text nombre-empleado"><h6>
                            </div>
                            <div class="col s12 m2 right-align btn-crear-contrato">
                            </div>
                        </div>
                    </caption>
                    <thead>
                    <tr class="grey-text">
                        <td># Contrato</td>
                        <td>Fecha Creacion</td>
                        <td>Fecha Inicio</td>
                        <td>Tipo Contrato</td>
                        <td>Estado</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody class="lista-contrato-empleado">
                    
                    </tbody>
                </table>
            </div>
            <!-- FIN LISTADO DE CONTRATOS -->
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat" >CANCELAR</a>
        <button class="btn waves-effect waves-light green btn-editar" onclick="editarEmpleado()" type="button" >EDITAR</button>
    </div>
</div>