<div id="modal_editar_contrato" name="modal_editar_contrato" class="modal modal-esc modal-fixed-footer"  style="width :75%; height: 580px;">
    <form  method="POST" action="" name="fmreditarcontrato" id="fmreditarcontrato">
        <div class="modal-content">        
            <div class="valign-wrapper">              
                <i class="small material-icons">edit</i>
                <h6 class="pl-2">Editar Contrato</h6>
            </div>
            <div class="modal-body">           
                <div class="col s12 m12">
                    <div class="card horizontal" style="background-color: rgba(0, 94, 184, 0.9)">
                        <div class="card-image">
                            <img id="img_empleado_contrato" name="img_empleado_contrato" src="">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <div class="row white-text">
                                    <div class="col s12 m3 center-align">
                                        <p><b>Nombre Complero</b></p><hr>
                                        <p class="text-nombre_completo"></p>
                                    </div>
                                    <div class="col s12 m2 center-align">
                                        <p><b>Cedula</b></p><hr>
                                        <p class="text-cedula"><p>
                                    </div>
                                    <div class="col s12 m3 center-align">
                                        <p><b>Profesión</b></p><hr>
                                        <p class="text-profesion"></p>
                                    </div>
                                    <div class="col s12 m2 center-align">
                                        <p><b>Edad</b></p><hr>
                                        <p class="text-edad"></p>
                                    </div>
                                    <div class="col s12 m2 center-align">
                                        <p><b>Telefóno</b></p><hr>
                                        <p class="text-telefono"></p>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>   

                <div class="c-contrato-paso-1">
                    <div class="col s12 m12">
                        <div class="card horizontal">
                            <div class="card-stacked">
                                <div class="card-content">
                                    <div class="row">
                                        
                                        <div class="input-field col s12 m3">
                                            <input  id="ec_numero_contrato" name="ec_numero_contrato" type="number" placeholder="Numero Contrato"  maxlength="8" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" disabled >  
                                            <label for="ec_numero_contrato">Numero Contrato</label>                              
                                        </div>

                                        <div class="input-field col s12 m3">
                                            <input id="ec_fecha_ini" name="ec_fecha_ini" type="date" >  
                                            <label for="ec_fecha_ini">Fecha Inicio</label>                              
                                        </div>

                                        <div class="input-field col s12 m3">
                                            <select name="ec_tipo_contrato_id" id="ec_tipo_contrato_id">
                                                {% if tipos_contratos %}
                                                    {% for tipo in tipos_contratos %}
                                                        <option value="{{tipo.value}}">{{tipo.display}}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                            <label>Tipo Contrato</label>                                
                                        </div>
                                        <div class="input-field col s12 m3">
                                            <select name="ec_cargo_id" id="ec_cargo_id">
                                                <option value="">- Cargos Disponibles -</option>
                                                {% if cargos %}
                                                    {% for cargo in cargos %}
                                                        <option value="{{cargo.value}}">{{cargo.display}}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                            <label>Cargo</label>                                
                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="input-field col s12 m3">
                                            <select name="ec_area_id" id="ec_area_id">
                                                {% if areas %}
                                                    {% for area in areas %}
                                                        <option value="{{area.value}}">{{area.display}}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                            <label>Area</label>                                
                                        </div>                                        
                                        <div class="input-field col s12 m3">
                                            <input  id="ec_salario_basico" name="ec_salario_basico" type="number" placeholder="Valor Salario" >  
                                            <label for="ec_salario_basico">Salario Basico</label>                              
                                        </div>
                                        <div class="input-field col s12 m3">
                                            <select name="ec_auxilio_transporte" id="ec_auxilio_transporte">
                                                <option value="SI">SI</option>
                                                <option value="NO">NO</option>
                                            </select>
                                            <label>Auxilio Transporte</label>                                
                                        </div>
                                        <div class="input-field col s12 m3" >
                                            {% if data_empresa_sesion.centros_costo == 'si' %}
                                            <select name="ec_centro_costo_id" id="ec_centro_costo_id">
                                                {% if centros_costos %}
                                                    {% for centro_costo in centros_costos %}
                                                        <option id="ec_centro_option" value="{{centro_costo.value}}">{{centro_costo.display}}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                            <label>Centro de Costos</label>
                                            {% else %} 
                                            <select disabled>
                                                <option></option>
                                            </select>
                                            <label>Centro de Costos</label>
                                            {% endif %}                               
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!--<div class="input-field col s12 m3">
                                            <select name="ec_esatdo_id" id="ec_esatdo_id" onchange="validarEstadoContrato(this.value)">
                                                <option value="">- Estado -</option>
                                                {% if estados %}
                                                    {% for estado in estados %}
                                                        <option value="{{estado.value}}">{{estado.display}}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                            <label>Estado del contrato</label>                                
                                        </div>-->
                                        <div class="input-field col s12 m3">
                                            <select name="ec_maneja_turno" id="ec_maneja_turno">
                                                <option value="NO">NO</option>
                                                <option value="SI">SI</option>
                                            </select>
                                            <label>Maneja Turnos</label>                             
                                        </div>                                        
                                        <div class="input-field col s12 m3">
                                            <input  id="ec_horas_dia" name="ec_horas_dia" type="number" placeholder="Cantidad de horas" value="{{horas_dia.value}}">
                                            <label for="horas_dia">Horas Dias</label>                              
                                        </div>
                                        <div class="input-field col s12 m3">
                                            <select name="ec_integral" id="ec_integral">
                                                <option value="SI">SI</option>
                                                <option value="NO">NO</option>
                                            </select>
                                            <label>Integral</label>                                
                                        </div>                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-contrato-paso-2 hide">
                    <div class="col s12 m12">
                        <div class="card horizontal">
                            <div class="card-stacked">
                                <div class="card-content">
                                    <div class="row">   

                                        <div class="input-field col s12 m3">
                                            <select name="ec_pensionado" id="ec_pensionado">
                                                <option value="NO">NO</option>
                                                <option value="SI">SI</option>
                                            </select>
                                            <label>¿Es pensionado?</label>                             
                                        </div>                                       

                                        <div class="input-field col s12 m3">
                                            <select name="ec_cod_caja" id="ec_cod_caja">
                                                {% if caja %}
                                                    {% for elemento in caja %}
                                                        <option value="{{elemento.value}}">{{elemento.display}}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                            <label>Caja de Compensación</label>                                
                                        </div>
                                        <div class="input-field col s12 m3">
                                            <select name="ec_cod_eps" id="ec_cod_eps">
                                                {% if eps %}
                                                    {% for elemento in eps %}
                                                        <option value="{{elemento.value}}">{{elemento.display}}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                            <label>EPS</label>                                
                                        </div>
                                        <div class="input-field col s12 m3">
                                            <select name="ec_cod_fpen" id="ec_cod_fpen">
                                                {% if fpen %}
                                                    {% for elemento in fpen %}
                                                        <option value="{{elemento.value}}">{{elemento.display}}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                            <label>Fondo de Pensiones</label>                                
                                        </div>                                        
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 m3">
                                            <select name="ec_cod_fces" id="ec_cod_fces">
                                                {% if fces %}
                                                    {% for elemento in fces %}
                                                        <option value="{{elemento.value}}">{{elemento.display}}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                            <label>Fondo de Cesantias</label>                                
                                        </div>
                                        <div class="input-field col s12 m3">
                                            <select name="ec_cod_arl" id="ec_cod_arl">
                                                {% if arl %}
                                                    {% for elemento in arl %}
                                                        <option value="{{elemento.value}}">{{elemento.display}}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                            <label>ARL</label>                                
                                        </div>
                                        <div class="input-field col s12 m3">
                                            <select name="ec_grupo_contable_id" id="ec_grupo_contable_id">
                                                {% if grupos_contables %}
                                                    {% for elemento in grupos_contables %}
                                                        <option value="{{elemento.value}}">{{elemento.display}}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                            <label>Grupo Contable</label>                                
                                        </div>
                                        <div class="input-field col s12 m3">
                                            <select name="ec_tipo_cuenta" id="ec_tipo_cuenta">
                                                <option value="NO">Ahorros</option>
                                                <option value="SI">Corriente</option>
                                            </select>
                                            <label>Tipo Cuenta</label>                             
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="input-field col s12 m3">
                                            <input  id="ec_num_cuenta_banco" name="ec_num_cuenta_banco" type="text" placeholder="Cuenta Bancaria" >  
                                            <label for="ec_num_cuenta_banco"># Cuenta</label>                              
                                        </div>
                                        <div class="input-field col s12 m3">
                                            <select name="ec_cod_banco" id="ec_cod_banco">
                                                {% if bancos %}
                                                    {% for elemento in bancos %}
                                                        <option value="{{elemento.value}}">{{elemento.display}}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                            <label>Banco Cuenta</label>                                
                                        </div>                                                                               
                                        <div class="input-field col s12 m3">
                                            <select name="ec_forma_pago_id" id="ec_forma_pago_id">
                                                {% if formas_pagos %}
                                                    {% for elemento in formas_pagos %}
                                                        <option value="{{elemento.value}}">{{elemento.display}}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                            <label>Forma de pago</label>                                
                                        </div>                                         
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">   
            <input type="hidden" id="paso_actual" name="paso_actual" value="1" />     
            <button class="modal-close btn-flat" type="reset" onclick="cambioPasoEdit('inicial')">CANCELAR</button>
            <button class="btn waves-effect waves-light blue hide bt-anterior" onclick="cambioPasoEdit('anterior')" type="button" >Anterior</button>
            <button class="btn waves-effect waves-light green bt-siguiente" onclick="cambioPasoEdit('siguiente')" type="button" >Siguiente</button>
            <button class="btn waves-effect waves-light green hide bt-guardar" onclick="editarContrato()" type="button" >GUARDAR</button>
            <input type="hidden" name="ec_id_contrato" id="ec_id_contrato" value=""/>
        </div> 
    </form>
</div>
