{% set estado_periodo_actual = '' %}
{% set color_text = 'blue-text' %}
{% set esatdo_periodo = 6 %}

<style>
    body{
        overflow-y: auto;
    }

    .tbody-nomina {
        display: block;
        height: 300px;
        overflow: auto;
    }
    .thead-nomina, .tbody-nomina .tr-nomina {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    .thead-nomina {
        width: calc( 100% - 1em )
    }
        .th-nomina, .td-nomina{
        font-size: 11px;
    }

    .td-nomina{
        padding:0px;
    }

</style>

<br>
<section>
    <div class="row">
        <div class="col s2 m1 center-align" style="line-height: 350%; padding-left: 60px;">
            <a class="waves-effect waves-light btn-small" onclick="cargarModulo('nomina')">ACTUAL</a>
        </div>
        <div class="col s2 m2">
            <h5 class="blue-text right-align" style="line-height: 50%;">Buscar por/</h5>
        </div>
        <div class="col s2 m1">
            <p class="left-align grey-text"><b>AÑO:</b></p>
        </div>
        <div class="col s10 m2 left-align">
            <div class="input-field">
                <select>
                    {% if lista_anos %}
                        {% for ano in lista_anos %}
                            {% if ano_actual == ano.value %}
                                <option value="{{ano.value}}" selected>{{ano.display}}</option>
                            {% else %}
                                <option value="{{ano.value}}">{{ano.display}}</option>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="col s2 m1">
            <p class="right-align grey-text"><b>PERIODO:</b></p>
        </div>
        <div class="col s8 m2">
            <div class="input-field">
                <select onchange="seleccionarPeriodoNomina(this.value)">
                    {% if lista_periodos %}
                        {% for periodo in lista_periodos %}
                            {% if periodo_actual == periodo.value %}
                                {% set estado_periodo_actual = periodo.estado %}
                                {% if periodo.estado_id == 7  %}
                                    {% set esatdo_periodo = 7 %}
                                    {% set color_text = 'red-text' %}
                                {% endif %}
                                <option value="{{periodo.value}}" selected>{{periodo.display}}</option>
                            {% else %}
                                <option value="{{periodo.value}}">{{periodo.display}}</option>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="col s2 m3">
            <p class="center-align grey-text"><b>ESTADO: </b><span class="{{color_text}}"><b> {{estado_periodo_actual}}</b></span></p>
        </div>
    </div>
    <form method="POST" action="" name="fmrnomina" id="fmrnomina" target="_blank">
        <table class="centered highlight">
            <thead class="thead-nomina">
                <tr class="grey-text tr-nomina">
                    <!--<th class="th-nomina">#</th>-->
                    <th class="th-nomina" ><p><label><input type="checkbox"  class="check_todos" onclick="seleccionarDeseleccionarCheck()" /><span></span></label></th>
                    <th class="th-nomina" style="width:200px;">Nombre Completo</th>
                    <th class="th-nomina">Documento</th>
                    <th class="th-nomina">Salario Basico</th>
                    <th class="th-nomina">Dias</th>
                    <th class="th-nomina">Salario</th>
                    <th class="th-nomina">Aux Trans</th>
                    <th class="th-nomina">Extra</th>
                    <th class="th-nomina">Otros</th>
                    <th class="th-nomina">Total Devengado</th>
                    <th class="th-nomina">Salud</th>
                    <th class="th-nomina">Pension</th>
                    <th class="th-nomina">Otros</th>
                    <th class="th-nomina">Total Descuentos</th>
                    <th class="th-nomina">Total Pago</th>
                    <th class="th-nomina"></th>
                    <th class="th-nomina"></th>
                </tr>
            </thead>
            <tbody class="tbody-nomina" id="tbody-nomina">
                {% set contador = 1  %}
                {% for data in dataTabla %}
                    <!--<tr class="hoverable tr-nomina">-->
                    <tr class="tr-nomina">
                        <!--<td class="td-nomina"><b>{{contador}}</b></td>-->
                        <td class="td-nomina">
                            <p>
                                <label>
                                    <input type="checkbox" class="checkRNM" name="checkRNM[]" value="{{data.id_registro_empleado_nomina}}" onclick="detectarCheckSeleccionado()"/>
                                        <span></span>
                                </label>
                            </p>
                        </td>
                        <td class="td-nomina" style="width:200px;">{{data.nombre_completo}}</td>
                        <td class="#e8f5e9 green lighten-5 td-nomina">{{data.numero_documento}}</td>
                        <td class="td-nomina">{{data.salario_basico}}</td>
                        <td class="#e8f5e9 green lighten-5 td-nomina">{{data.dias_laborados}}</td>
                        <td class="td-nomina">{{data.salario}}</td>
                        <td class="#e8f5e9 green lighten-5 td-nomina">{{data.valor_auxilio_transporte}}</td>
                        <td class="td-nomina">{{data.valor_h_extras}}</td>
                        <td class="#e8f5e9 green lighten-5 td-nomina">{{data.valor_otros_pagos}}</td>
                        <td class="td-nomina"><b>{{data.total_devengado}}</b></td>
                        <td class="#e8f5e9 green lighten-5 td-nomina">{{data.valor_salud}}</td>
                        <td class="td-nomina">{{data.valor_pension}}</td>
                        <td class="#e8f5e9 green lighten-5 td-nomina">{{data.valor_otros_descuentos}}</td>
                        <td class="td-nomina"><b>{{data.total_descuentos}}</b></td>
                        <td class="#ffebee green lighten-5 td-nomina"><b>{{data.total_pago}}</b></td>
                        {% if esatdo_periodo != 7  %}
                            <td class="td-nomina td-nomina">
                                <a class="btn-floating  waves-effect waves-light btn-small green tooltipped"  data-position="bottom" data-tooltip="Añadir novedad" onclick="abrirNovedadEmpleado({{data.id_registro_empleado_nomina}})">
                                    <i class="material-icons ">add</i>
                                </a>
                            </td>
                            <td class="td-nomina">
                                <a class="btn-floating  waves-effect waves-light btn-small blue tooltipped"  data-position="bottom" data-tooltip="Liquidar Contrato" onclick="abrirLiquidarContrato()">
                                    <i class="material-icons">border_color</i>
                                </a>
                            </td>
                        {% else %}
                            <td class="td-nomina td-nomina">
                                <a class="btn-floating  waves-effect waves-light btn-small green tooltipped disabled"  data-position="bottom">
                                    <i class="material-icons">add</i>
                                </a>
                            </td>
                            <td class="td-nomina">
                                <a class="btn-floating  waves-effect waves-light btn-small blue tooltipped disabled"  data-position="bottom">
                                    <i class="material-icons">border_color</i>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                    {% set contador = contador + 1  %}                
                {% endfor %}
            </tbody>
        </table>
        <br>
        <!--BOTENES -->
        <div class="row">
            <div class="col m1 s2">
                <button class="btn-lg waves-effect waves-light btn-nom-gp-1" type="button" onclick="generarReporteNomina('desprendibles')">
                    <img align="right" src="{{base_url}}public/imagenes/plata.png">
                    Desprendibles
                </button> 
            </div>
            <div class="col m1 s2">
                <button class="btn-lg waves-effect waves-light btn-nom-gp-1" type="button" onclick="generarReporteNomina('relacionNomina')">
                    <img align="right" src="{{base_url}}public/imagenes/plata.png">
                    Relación Nomina
                </button>
            </div>
            <div class="col m1 s2">
                <a class="waves-effect waves-light  btn-nom-gp-1 modal-trigger" href="#modal_informes">
                    <img align="right" src="{{base_url}}public/imagenes/plata.png">
                    Informes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </a>
            </div>  
            <div class="col m1 s2">
                {% if esatdo_periodo != 7  %}
                    <button class="btn-lg waves-effect waves-light btn-nom-gp-2" type="button" onclick="cerrarPeriodoNomina({{periodo_actual}})">
                        Cerrar Nomina
                    </button> 
                {% else %}
                    
                {% endif %}
            </div>
            <div class="col m1 s2">
                <button class="btn-lg waves-effect waves-light btn-nom-gp-1" type="button">
                    <img align="right" src="{{base_url}}public/imagenes/plata.png">
                    Provision de&nbsp; Nomina
                </button>
            </div>
            <div class="col m1 s2" style="padding: 0 0rem 0 2rem;">
                <button class="btn-lg waves-effect waves-light btn-nom-gp-2" type="button">
                    Nomina Electronica
                </button>
            </div>
            <div class="col m1 s2" style="padding: 0 1.5rem 0 0.20rem;">
                <button class="btn-lg waves-effect waves-light btn-nom-gp-1" type="button">
                    <img align="right" src="{{base_url}}public/imagenes/plata.png">
                    Nota Electronica
            </button>
            </div>
            <div class="col m1 s2" style="padding: 0 0 0 1.5rem;">
                <button class="btn-lg waves-effect waves-light btn-nom-gp-3" type="button">
                    <img align="right" src="{{base_url}}public/imagenes/oro.png">
                    Archivo Bancos
                </button>
            </div>
            <div class="col m1 s2">
                <button class="btn-lg waves-effect waves-light btn-nom-gp-3" type="button">
                    <img align="right" src="{{base_url}}public/imagenes/oro.png">
                    Archivo SSGG
                </button>
            </div>
            <div class="col m1 s2">
            <button class="btn-lg waves-effect waves-light btn-nom-gp-3" type="button"><img align="right" src="{{base_url}}public/imagenes/oro.png">Genera Contabilidad</button>
            </div>
            <div class="col m1 s2">
            <button class="btn-lg waves-effect waves-light btn-nom-gp-3" type="button"><img align="right" src="{{base_url}}public/imagenes/oro.png">Prestaciones</button>
            </div>
            <div class="col m1 s2">
                <button class="btn-lg waves-effect waves-light btn-nom-gp-3" type="button"><img align="right" src="{{base_url}}public/imagenes/oro.png">Soporte DIAN</button>
            </div>
        </div>
    </form>
</section>
<script language="javascript">
    $(document).ready(function(){
    $(".check_todos").click(function(event){
        if($(this).is(":checked")) {
        $(".ck:checkbox:not(:checked)").attr("checked", "checked");
        }else{
            $(".ck:checkbox:checked").removeAttr("checked");
        }
    });
});
</script>

{% include 'modal_novedades_nomina.twig' %}
{% include 'modal_informes.twig' %}
