<div class="container-principal">
    <div class="row">
        <div id="man" class="col s12">
            <div class="card material-table">
                <div class="table-header">
                    {# <span class="table-title">Pedidos</span> #}
                    <button type="button" class="btn modal-trigger green mr-2" href="#modal_pedidos" id="btn-nuevo-pedido"><i class="material-icons left">receipt</i><b>Nuevo Pedido</b></button>
                    <button type="button" class="btn modal-trigger blue" href="#modal_despachos" id="btn-generar-despacho" disabled><i class="material-icons left">local_shipping</i><b>Generar Despacho</b></button>
                    <div class="actions">
                        <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
                    </div>
                </div>
                <table id="datatable">
                    <thead>
                        <tr>
                            <th> Fecha </th>
                            <th> Guía </th>
                            <th> Articulo </th>
                            <th> Nombre </th>
                            <th> Teléfono </th>
                            <th> Dirección </th>
                            <th> Ciudad </th>
                            <th> Estado guía</th>
                            <th> Transportadora </th>
                            <th> Comision </th>
                            <!--<th> Valor declarado </th>-->
                            <th> Valor envio </th>
                            <th> Valor a cobrar </th>
                            <th> Valor a recibir </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if listaPedidos %}
                    {% for pedido in listaPedidos %} 
                        <tr>                  
                            <td>{{pedido.fecha_creacion}}</td>
                            <td>{{pedido.codigo_remision}}</td>
                            <td>{{pedido.contenido}}</td>
                            <td>{{pedido.nombre_destinatario}}</td>
                            <td>{{pedido.telefono_destinatario}}</td>
                            <td>{{pedido.direccion_destinatario}}</td>
                            <td>{{pedido.ciudad}}</td>
                            {% if pedido.id_estado == "13"  %}
                                <td class="green-text"><b>{{pedido.estado}}</b></td>
                            {% elseif pedido.id_estado == "10" %}
                                <td class="orange-text"><b>{{pedido.estado}}</b></td>
                            {% elseif pedido.id_estado == "9" %}
                                <td class="blue-text"><b>{{pedido.estado}}</b></td>
                            {% else %}
                                <td class="red-text"><b>{{pedido.estado}}</b></td>
                            {% endif %}
                            <td>{{pedido.transportadora}}</td>
                            <td>{{pedido.valor_comision}}</td>
                            <!--<td>{{pedido.valor_declarado}}</td>-->
                            <td>{{pedido.valor_flete}}</td>
                            <td>{{pedido.valor_cobrar}}</td>
                            <td>{{pedido.valor_recibir}}</td>
                            

                            <td class="align-middle text-center text-xs" align="center">
                                
                                {% if pedido.id_estado != "12" %}
                                    <a href="#modal_rastreo" target="_blank" onclick="rastrearPedido('{{pedido.codigo_remision}}',{{pedido.transportadora_id}})" class="modal-trigger tooltipped" data-position="left" data-tooltip="Rastrear pedido"><i class="material-icons">search</i></a>

                                {% endif %}

                                {% if pedido.id_estado == "9" %}
                                    <a href="#" class="tooltipped" data-position="left" data-tooltip="Editar pedido" onclick="abrirEditarPedido({{pedido.id_pedido}},'{{pedido.codigo_remision}}');"><i class="material-icons">create</i></a>
                                {% endif %}
                                
                                {% if pedido.id_estado != "12" %}
                                    <a href="{{base_url}}pedidos/descargarrotulo?id_remision={{pedido.id_remision}}&id_transportadora={{pedido.transportadora_id}}" class="tooltipped" target="_blank" 
                                    data-position="left" data-tooltip="Generar rótulo">
                                        <i class="material-icons">print</i>
                                    </a>
                                {% endif %}
                         
                            </td>

                        </tr>
                    {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% include 'modal_pedidos.twig' %}
{% include 'modal_despachos.twig' %}
{% include 'modal_cobertura.twig' %}
{% include 'modal_editar_pedido.twig' %}
{% include 'modal_novedad.twig' %}
{% include 'modal_rotulo.twig' %}
{% include 'modal_recibo_venta.twig' %}