<div class="container-principal">

    <button type="button" class="btn modal-trigger green" href="#modal_pedidos" id="btn-nuevo-pedido"><i class="material-icons left">receipt</i><b>Nuevo Pedido</b></button>

    <button type="button" class="btn modal-trigger blue" href="#modal_despachos" id="btn-generar-despacho"><i class="material-icons left">local_shipping</i><b>Generar Despacho</b></button>

    <table>
        <thead>
            <th> Fecha </th>
            <th> Guía </th>
            <th> Articulo </th>
            <th> Nombre </th>
            <th> Teléfono </th>
            <th> Dirección </th>
            <th> Ciudad </th>
            <th> Estado guía</th>
            <th> Transportadora </th>
            <th> Flete </th>
            <th> Comision </th>
            <th> Total </th>
            <th></th>
        </thead>
        <tbody>
            {% if listaPedidos %}
                {% for pedido in listaPedidos %} 
                    <tr>                  
                        <td>{{pedido.fecha_creacion}}</td>
                        <td>{{pedido.codigo_remision}}</td>
                        <td>{{pedido.contenido}}</td>
                        <td>{{pedido.nombre_destinatario}}</td>
                        <td>{{pedido.telefono_destinatario}}</td>
                        <td>{{pedido.direccion_destinatario}}</td>
                        <td>{{pedido.ciudad}}</td>
                        {% if pedido.id_estado == "10"  %}
                            <td class="green-text"><b>{{pedido.estado}}</b></td>
                        {% elseif pedido.id_estado == "9" %}
                            <td class="blue-text"><b>{{pedido.estado}}</b></td>
                        {% else %}
                            <td class="red-text"><b>{{pedido.estado}}</b></td>
                        {% endif %}
                        <td>{{pedido.transportadora}}</td>
                        <td>$0</td>
                        <td>$0</td>
                        <td>$0</td>

                        <td class="align-middle text-center text-xs" align="center">
                            
                            {% if pedido.id_estado == "10" %}
                                <a href="#modal_rastreo" target="_blank" onclick="rastrearPedido('{{pedido.codigo_remision}}')" class="modal-trigger tooltipped" data-position="left" data-tooltip="Rastrear pedido"><i class="material-icons">search</i></a>

                                <a href="#modal_novedad" class="modal-trigger tooltipped" data-position="left"
                                data-tooltip="Registrar novedad"><i class="material-icons">add_alert</i></a>
                            {% endif %}

                            {% if pedido.id_estado == "9" %}
                                <a href="#modal_editar_pedido" class="modal-trigger tooltipped" data-position="left" data-tooltip="Editar pedido"><i class="material-icons">create</i></a>
                            {% endif %}

                            

                            <a href="{{base_url}}pedidos/descargarrotulo?id_remision={{pedido.id_remision}}" class="tooltipped" target="_blank" 
                            data-position="left" data-tooltip="Generar rótulo"><i class="material-icons">print</i>    </a>

                            <a href="#modal_recibo_venta" class="modal-trigger tooltipped"
                            data-position="left" data-tooltip="Generar recibo de venta"><i class="material-icons">library_books</i>
                            </a>
                            <label>
                                <span></span>
                            </label>
                        </td>

                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

</div>

{% include 'modal_pedidos.twig' %}
{% include 'modal_despachos.twig' %}
{% include 'modal_cobertura.twig' %}
{% include 'modal_rastreo.twig' %}
{% include 'modal_editar_pedido.twig' %}
{% include 'modal_novedad.twig' %}
{% include 'modal_rotulo.twig' %}
{% include 'modal_recibo_venta.twig' %}